*{
  margin: 0;
  padding: 0;
}
.image-modal{
  height: 300px;
  object-fit: cover;
}
.modal-btn{
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  padding: 12px 24px;
  cursor: pointer;
}

.overlay{
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  
}
.modal-container{
  max-width: 600px;
  width: 100%;
  position: fixed;
  top:40%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  background-color: #ffffff;
  box-shadow: 0 0 18px 0 rgba(0,0,0,0.75);
  animation: modalopen 1s ease forwards ;
}
@keyframes modalopen {
  0%{
    opacity: 0;
    transform: translate(-50%,-50%) scale(0);
  }
  100%{
    opacity: 1;
    transform:translate(-50%,-50%) scale(1);
  }
  
}
.close-modal{
  position: fixed;
  top: 8px;
  right: 8px;
}
.right-side-modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.right-side-modal p{
  cursor: pointer;
}

@media  screen and (max-width:500px) {
  .modal-container{
    flex-direction: column;
    width: 50%;

  }
  
  
  
  
}